:root{
  --primary-color: #cc7a00;
  --secondary-color: #141439;
  --green: #00cc00;
  --red: #800000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background-color: var(--primary-color);
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

h1{
  padding: 30px 40px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 5px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: var(--secondary-color);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto 5px auto;
  max-width: 800px;
  padding: 5px 40px 20px 40px;
}

.card-heading{
  background-color: var(--secondary-color);
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.slidecontainer{
  width: 100%;
  background-color: var(--secondary-color);
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  border-radius: 10px;
  -webkit-transition: .2s;
  -transition: opacity .2s;
}

.slider:hover{
  background: white;
  
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover{
  background: var(--green);
  -webkit-transition: .2s;
}

.slider::-moz-range-thumb{
  width: 25px;
  height: 25px;
  background:var(--green);
  cursor: pointer;
}

.char-slider-text{
  text-align: center;
  background: none;
  color:white;
  font-size: 45px;

}

ul{
  background-color: var(--secondary-color);
}

ul li{
  background-color: var(--secondary-color);
  color: white;
  display: inline-block;
  align-content: center;
  border: 2px solid white;
  border-radius: 10px;
  padding:20px;
  font-size: 25px;
  margin: 10px;
  width: 45%;
  text-align: center;
}

.char-check-box{
width:25px;
height: 25px;
align-items: center;
}

.card-footer {
  text-align: center;
  background-color: var(--secondary-color);
}

/*.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: #e7e9eb;
  height: 2px;
}*/

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: var(--red);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
